{% extends 'base.html' %}
{% import 'macros.html' as macros%}



{% block title %}
{{ super() }}
Bienvenido
{%endblock%}


{% block content%}

<section class="min-vh-50">
    <div class="container">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
            <form name="sentMessegae" method="POST">
                {{ fallo_form.hidden_tag() }}
                {% for field in fallo_form 
                    if field.widget.input_type != 'hidden' %}
                        <div class="form-group">
                            {% if field.id != 'limpiar'%}
                                {{ macros.render_field(field, class="form-control" ) }}
                            {% else %}
                                {{ macros.render_field(field)}}
                            {% endif %}
                            <p class="help-block text-danger"></p>
                        </div>
                {% endfor%}
                
            </form>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        {% for salidas in resultados %}
        <div class="col">
            {% for elemento, color in salidas[0]|zip(salidas[1]) %}
                {% if color == "cliente" %}
                    <li class="list-group-item" style="color:#e80808">
                {% elif color == "proxy" %}
                    <li class="list-group-item" style="color:#01bcf1">
                {% elif color == "buffer" %}
                    <li class="list-group-item" style="color:orange">
                {% elif color == "qmanager" %}
                    <li class="list-group-item" style="color:purple">
                {% elif color == "t1daemon" %}
                    <li class="list-group-item" style="color:#4501ad">
                {% elif color == "t2daemon" %}
                    <li class="list-group-item" style="color:#007c80">
                {% elif color == "t3daemon" %}
                    <li class="list-group-item" style="color:green">
                {% elif color == "all" %}
                    <li class="list-group-item" style="color:black">
                {% else %}
                    <li class="list-group-item" style="color:black">
                {% endif %}
                    {{ elemento }}
                </li>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>




{%endblock%}