{% extends 'base.html' %}
{% import 'macros.html' as macros%}



{% block title %}
{{ super() }}
Bienvenido
{%endblock%}


{% block content%}

<section class="min-vh-50">
    <div class="container">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
            <form name="sentMessegae" method="POST">
                {{ fallo_form.hidden_tag() }}
                {% for field in fallo_form 
                    if field.widget.input_type != 'hidden'%}
                        <div class="form-group">
                            {% if field.id != 'limpiar'%}
                                {{ macros.render_field(field, class="form-control" ) }}
                            {% else %}
                                {{ macros.render_field(field)}}
                            {% endif %}
                            <p class="help-block text-danger"></p>
                        </div>
                {% endfor%}
                
            </form>
        </div>
    </div>
</section>




<div class="container">
    <div class="row align-items-center">
        {% for list in resultados%}
        <div class="col">
            {% for elemento in list%}
            <li style="list-style: none;">
                {{elemento}}
            </li>
            {% endfor%}
        </div>
        {% endfor %}
    </div>
</div>




{%endblock%}