{% extends 'base.html' %}


{% block title %}
{{ super() }}

{%endblock%}

{%block stylesheet%}
{{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css')}}">
{%endblock%}


{% block content%}
<div class="hero">
    <div class="hero__overlay hero__overlay--gradient"></div>
    <div class="hero__mask"></div>
    <div class="hero__inner">
        <div class="container">
            <div class="hero__content">
                <div class="hero__content__inner" id='navConverter'>
                    <h1 class="hero__title">Simulador de Aleph</h1>
                    <p class="hero__text">Permite hacer pruebas sobre fallos con recuperacion, 
                        dandote control sobre el tiempo en el que los nodos fallan y se recuperan.
                    </p>
                    <a href="{{ url_for('aleph.simulador') }}" class="button button__accent">Prueba Aleph</a>
                    <a href="https://github.com/BigData95/Aleph_flask/wiki" class="button hero__button">Documentacion</a>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}